<div class="hero-unit">
    <div class="hero-image" ></div>
    <div class="hero-text">
         <h2>Welcome home </h2>
          <h4>Rent unique place to stay from local hosts in 190+ countries.</h4>
    </div>
</div>