<h1>This many monkies: <%= @monkies_in_html %> </h1>

<div>
  <%= while (@monkies_in_html != 0) do %>
      <img src="https://wantoncreation.files.wordpress.com/2012/02/1273.jpg"/>
      <h1>monkies number: <%= @monkies_in_html %></h1>
  <% @monkies_in_html = @monkies_in_html - 1
      end %> 

</div>

<h1>  <%= @warning %> </h1>

