* { 
	font-family: arial;
}

 body {
	   background-image: url("http://orig02.deviantart.net/4f4e/f/2007/032/7/2/opeth_by_alex_imam.jpg");
	   background-size: 100%;
	   margin: 0px;

}

.secondary {
	background: #999;
	color: #323;	
}
#special {
	background: #234;
	color:#777;
}
   header h1 {
	background: #111;
	color: red;
	margin: 0;
	display: inline; 
	padding: 20px;
	width: 20px;
}

   header {
   
   	color:yellow;
   	padding: 10;
   }

nav ul{
	margin: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 5px 15px;
	background: #000;
	color: black;
	float: right;

} 
  nav ul li a{
  	color: white;
  }

body {
}

.col {
	float: left;
	background: #444;
	padding: 20px;
	margin: 5px;
	width:50;
}

	ol{
		clear: both;
		width:50px ;
}
br {
	width: 100px;
}

footer {
	clear: both;
	padding: 0 0 100px 0;
	position: absolute;
	bottom: 0px;
	float: middle;
}

p {
	border-style: dotted solid;
}

  p {
  	text-align: center;
  }

  .about-me-text{
  	text-align: center
  } 