<!doctype html>

<div id="hobbies">

  <img src="https://www.startus.cc/system/files/styles/squared_photos_style/private/photo/filehHUtWQ.jpg?itok=vGEo9naU&sc=74011ac6db11df3abe42c60dff4693fb" style="height:210px; width:200px;"></img> 
  	

	<p class="about-me-text"> Khaled
 
  </p


</div>

